* {
	box-sizing: border-box;
}

body {
	font-variation-settings: "wght" 400, "slnt" 1;
	font-family: "ariel", sans-serif;
	color: #000000;
	background-color: #faf9f6;
}
button {
	font-family: "arvo", serif;
	background-color: #ffc52c;
	box-shadow: -3px 3px 0 0px #686868;
	color: #000000;
	border: none;
	cursor: pointer;
	border-radius: 8px;
	width: 100px;
	height: 45px;
	transition: 0.3s;
}

button:hover {
	background-color: #ffffff;
	box-shadow: -3 3 0 0px #ffc52c;
	color: #000000;
}
.wrapper {
	margin-left: 64pt;
	margin-right: 64pt;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(10, minmax(50px, auto));
	position: relative;
}

#grid {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	width: 100%;
	height: 100%;
}
#grid p {
	border: 1px solid #000;
	margin-left: 0;
	opacity: 0.2;
}
.home {
	grid-column: 1/7;
}
.home-text {
	grid-column: 7/13;
}
.cta-text {
	grid-column: 1/5;
}
.cta-img {
	grid-column: 7/13;
}
.quote-img {
	grid-column: 1/7;
}
.quote-text {
	grid-column: 7/13;
}
