.wrapperMateriaal {
	display: grid;
	margin: 0 64px;

	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(20, minmax(50px, auto));

	position: relative;
}

.materiaal-foto {
	width: 80%;
}
