.wrapperMateriaal {
	display: grid;
	margin: 0 64px;

	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, minmax(50px, auto));
	gap: 2rem;
	position: relative;
}
.tekstonderb {
	padding-top: 3%;
}
.materiaal-foto {
	width: 80%;
}

.button-materiaal {
	font-size: 14px;
	margin-top: 2%;
	font-weight: bold;
}
.tweetekst {
	margin-bottom: 2%;
}
.kaart-info p {
	padding-top: 3%;
}
.kaart-info h3 {
	padding-top: 3%;
}
.wrapper-3 {
	display: grid;
	margin: 0 64;

	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, minmax(20px, auto));

	position: relative;
	align-items: center;
}
.contactblok {
	text-align: center;
	grid-column: 2/12;
}
.contact-img {
	grid-row: 4/8;
	grid-column: 2/7;
}
.contact-img img {
	height: auto;
	width: 100%;
}
.contact-text {
	grid-row: 4/8;
	grid-column: 7/12;
	text-align: center;
}
.contact-vorm {
	grid-row: 7/8;
	grid-column: 9/12;
	z-index: -1;
}
.contact-vorm img {
	height: auto;
	width: 100%;
}

button.active {
	background-color: #f4a6c0;
	color: white;
}

.filter-buttons,
.subfilter-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	margin: 2rem auto;
}
