.wrapperMateriaal {
	display: grid;
	margin: 0 64px;

	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, minmax(50px, auto));
	gap: 2rem;
	position: relative;
}
.tekstonderb {
	padding-top: 3%;
}
.materiaal-foto {
	width: 80%;
}

.button-materiaal {
	font-size: 14px;
	margin-top: 2%;
	font-weight: bold;
}
.tweetekst {
	margin-bottom: 2%;
}
.kaart-info p {
	padding-top: 3%;
}
.kaart-info h3 {
	padding-top: 3%;
}
.wrapper-3 {
	display: grid;
	margin: 0 64;

	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, minmax(20px, auto));

	position: relative;
	align-items: center;
}
.contactblok {
	text-align: center;
	grid-column: 2/12;
}
.contact-img {
	grid-row: 4/8;
	grid-column: 2/7;
}
.contact-img img {
	height: auto;
	width: 100%;
}
.contact-text {
	grid-row: 4/8;
	grid-column: 7/12;
	text-align: center;
}
.contact-vorm {
	grid-row: 7/8;
	grid-column: 9/12;
	z-index: -1;
}
.contact-vorm img {
	height: auto;
	width: 100%;
}

button.active {
	background-color: #f4a6c0;
	color: white;
}

.filter-buttons,
.subfilter-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	margin: 2rem auto;
}
.faq {
	grid-row: 9/12;
	grid-column: 2/11;
}
.faq p {
	margin-bottom: 20px;
}

.faq-item {
	border-bottom: 1px solid #ccc;
	padding: 1rem 0;
}

.faq-question {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.faq-answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease, opacity 0.4s ease;
	opacity: 0;
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 0.5rem;
}
.faq-answer button {
	margin-left: 10px;
	margin-bottom: 30px;
}

.faq-item.active .faq-answer {
	max-height: 100%;
	opacity: 1;
}

.arrow {
	transition: transform 0.3s ease;
}

.faq-item.active .arrow {
	transform: rotate(180deg);
}
.arrow {
	font-size: 1.3rem;
	transform: rotate(0deg);
	transition: transform 0.3s ease;
}

.faq-item.active .arrow {
	transform: rotate(180deg); /* draait de pijl omhoog */
}
.vorm1-faq {
	z-index: -1;
	grid-row: 11/12;
	grid-column: 2/6;
}
.vorm1-faq img {
	width: 100%;
	height: auto;
	opacity: 34%;
}
.vorm2-faq {
	z-index: -1;
	grid-row: 11/12;
	grid-column: 10/12;
}
.vorm2-faq img {
	width: 100%;
	height: auto;
	opacity: 34%;
}
