@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "arial", sans-serif;
}
h1 {
  font-size: 35px;
  font-weight: bold;
  font-family: "arvo", serif;
}
h2 {
  font-size: 20pt;
  font-weight: bold;
  font-family: "arvo", serif;
}

h3 {
  font-size: 18pt;
  font-weight: bold;
  font-family: "arvo", serif;
}

h4 {
  font-size: 14pt;
  font-weight: bold;
  font-family: "arvo", serif;
}

p {
  font-size: 14pt;
}
nav ul li a .nav-item {
  font-size: 18pt;

  color: black;
}
a {
  size: 18pt;
  color: #000;
  text-decoration: none;
}
b {
  font-weight: bold;
}

ul li {
  font-size: 12pt;
  margin-left: 15px;
  list-style: none;
}
tr {
  font-weight: bold;
  font-size: 32pt;
}
button {
  font-size: 18pt;
}
