@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;1,700&family=Luckiest+Guy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=EB+Garamond:ital,wght@0,700;1,700&family=Luckiest+Guy&display=swap");
body {
	font-family: "arvo", serif;
}
h1 {
	font-size: 40px;
	font-weight: bold;
}
h2 {
	font-size: 25pt;
	font-weight: bold;
}
h3 {
	font-size: 18pt;
}

p {
	font-size: 18pt;
}
nav ul li a .nav-item {
	font-size: 18pt;

	color: black;
}
a {
	size: 16pt;
	color: #000;
	text-decoration: none;
	font-family: "arvo", serif;
}
b {
	font-weight: bold;
}

ul li {
	font-size: 12pt;
	margin-left: 15px;
	list-style: none;
}
tr {
	font-weight: bold;
	font-size: 32pt;
}
button {
	font-size: 18pt;
}
